.body-div {
    background-color: black;
    color: aliceblue;
    padding-left: 45%;
    border-radius: 100px;
    padding-bottom: 35px;
    padding-top: 3px
}

.body-title {
    color: chartreuse;
}

.body-descri {

    color: aqua;
}
.main-sec{
    background-color: antiquewhite;
}
.select-div{
    padding-left: 200px;
}
.select-box{
    background-color: black;
    color: red;
    border-radius: 6px;
}



